<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Aggiungi Cliente</title>
</head>
<body>
	<header>
		<h1>Epic Energy Services</h1>
		<h3>Aggiungi Cliente</h3>
	</header>
	<form action="#" th:action="@{/web/aggiungiCliente}" th:object="${cliente}" method="POST" >
		<table>
			<tr><td>Ragione Sociale: </td><td><input type="text" th:field="*{ragioneSociale}" required="required" /></td></tr>
			<tr><td>Tipo: </td><td>
				<select type="text" th:field="*{tipo}">
					<option value="PA">PA</option>
					<option value="SAS">SAS</option>
					<option value="SPA">SPA</option>
					<option value="SRL">SRL</option>
				</select>
			</td></tr>
			<tr><td>Partita Iva: </td><td><input type="text" th:field="*{partitaIva}" /></td></tr>
			<tr><td>Email: </td><td><input type="email" th:field="*{email}"/></td></tr>
			<tr><td>Data Inserimento: </td><td><input type="date" pattern="YYYY-MM-DD" th:field="*{dataInserimento}" required="required" /></td></tr>
			<tr><td>Data Ultimo Contatto: </td><td><input type="date" pattern="YYYY-MM-DD" th:field="*{dataUltimoContatto}" required="required" /></td></tr>
			<tr><td>Pec: </td><td><input type="text" th:field="*{pec}" /></td></tr>
			<tr><td>telefono: </td><td><input type="tel" th:field="*{telefono}" /></td></tr>
			<tr><td>Nome Contatto: </td><td><input type="text" th:field="*{nomeContatto}" /></td></tr>
			<tr><td>Cognome Contatto: </td><td><input type="text" th:field="*{cognomeContatto}" /></td></tr>
			<tr><td>Telefono Contatto: </td><td><input type="tel" th:field="*{telefonoContatto}" /></td></tr>
			<tr><td>Sede Legale<td><td></td></tr>
			<tr><td>Via: </td><td><input type="text" th:field="*{indirizzoSedeLegale.via}" /></td></tr>
			<tr><td>Civico: </td><td><input type="text" th:field="*{indirizzoSedeLegale.civico}" /></td></tr>
			<tr><td>Cap: </td><td><input type="text" th:field="*{indirizzoSedeLegale.cap}" /></td></tr>
			<tr><td>Sede Operativa<td><td></td></tr>
			<tr><td>Via: </td><td><input type="text" th:field="*{indirizzoSedeOperativa.via}" /></td></tr>
			<tr><td>Civico: </td><td><input type="text" th:field="*{indirizzoSedeOperativa.civico}" /></td></tr>
			<tr><td>Cap: </td><td><input type="text" th:field="*{indirizzoSedeOperativa.cap}" /></td></tr>
		</table>
		<p><input type="submit" value="aggiungi" /> <input type="reset" value="reset"></p>
	</form>
	<a href="/web/homepage">Homepage</a>
	<footer>
		<p>Powered by Anaclerio Riccardo &copy; 2022</p>
	</footer>
</body>
</html>