<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Registrazione</title>
</head>
<body>
	<header>
		<h1>Epic Energy Services</h1>
		<h3>Registrazione</h3>
	</header>
	<form action="#" th:action="@{/auth/registraUtente}" th:object="${utente}" method="POST" >
		<table>
			<tr><td>Username: </td><td><input type="text" th:field="*{userName}" required="required" /></td></tr>
			<tr><td>Password: </td><td><input type="password" th:field="*{password}" required="required" /></td></tr>
			<tr><td>Email: </td><td><input type="text" th:field="*{email}"/></td></tr>
			<tr><td>Nome: </td><td><input type="text" th:field="*{nome}" /></td></tr>
			<tr><td>Cognome: </td><td><input type="text" th:field="*{cognome}" /></td></tr>
		</table>
		<p><input type="submit" value="registrati" /> <input type="reset" value="reset"></p>
	</form>
	
	<a href="/auth/index">index</a>
	<footer>
		<p>Powered by Anaclerio Riccardo &copy; 2022</p>
	</footer>
</body>
</html>