<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" th:href="@{/css/stile.css}"/>
<meta charset="ISO-8859-1">
<title>Elenco Fatture</title>
</head>
<body>
	<header>
		<h1>Epic Energy Services</h1>
		<h3>Elenco Fatture</h3>
		<div class="loggato">
			<span sec:authentication="name">Username</span> 
		</div>
	</header>
	<table>
		<thead>
			<tr>
				<th>Numero</th>
				<th>Anno</th>
				<th>Data</th>
				<th>Importo</th>
				<th>Stato</th>
				<th>Cliente</th>
				<th>Aggiorna</th>
				<th>Elimina</th>
			</tr>
		</thead>
		<tbody>
		<div th:each="f: ${fatture}">	
			<tr>
				<td th:text="${f.numero}"></td>
				<td th:text="${f.anno}"></td>
				<td th:text="${f.data}"></td>
				<td th:text="${f.importo}"></td>
				<td th:text="${f.stato}"></td>
				<td th:text="${f.cliente.ragioneSociale}"></td>
				<td ><a th:href="@{/web/mostraFormAggiornaFattura/{id}(id=${f.id})}" sec:authorize="hasRole('ROLE_ADMIN')">Aggiorna</a></td>
				<td><a th:href="@{/web/eliminaFattura/{id}(id=${f.id})}" sec:authorize="hasRole('ROLE_ADMIN')" onclick="return confirm('Sei sicuro di volerla eliminare?')">Elimina</a></td>
			</tr>
		</div>
		</tbody>
	</table>
	<a href="/web/mostraFormAggiungiFattura" sec:authorize="hasRole('ROLE_ADMIN')">Aggiungi fattura</a><br>
	<a href="/web/mostraFormFiltriFattura">Filtri</a><br>
	<br>
	<a href="/web/homepage">Homepage</a>
		
	<footer>
		<p>Powered by Anaclerio Riccardo &copy; 2022</p>
	</footer>
</body>
</html>