<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Elenco Clienti</title>
</head>
<body>
	<header>
		<h1>Epic Energy Services</h1>
		<h3>Elenco Clienti</h3>
	</header>
	
		<table>
		<thead>
			<tr>
				<th>Ragione Sociale</th>
				<th>Tipo</th>
				<th>Partita Iva</th>
				<th>Email</th>
				<th>Data Inserimento</th>
				<th>Data Ultimo Contatto</th>
				<th>Fatturato Annuale</th>
				<th>Pec</th>
				<th>Telefono</th>
				<th>Nome Contatto</th>
				<th>Cognome Contatto</th>
				<th>Telefono Contatto</th>
				<th>Indirizzo Sede Legale</th>
				<th>Indirizzo Sede Operativa</th>
				<th>Aggiorna</th>
				<th>Elimina</th>
			</tr>
		</thead>
		<tbody>
		<div th:each="c: ${clienti}">	
			<tr>
				<td th:text="${c.ragioneSociale}"></td>
				<td th:text="${c.tipo}"></td>
				<td th:text="${c.partitaIva}"></td>
				<td th:text="${c.email}"></td>
				<td th:text="${c.dataInserimento}"></td>
				<td th:text="${c.dataUltimoContatto}"></td>
				<td th:text="${c.fatturatoAnnuale}"></td>
				<td th:text="${c.pec}"></td>
				<td th:text="${c.telefono}"></td>
				<td th:text="${c.nomeContatto}"></td>
				<td th:text="${c.cognomeContatto}"></td>
				<td th:text="${c.telefonoContatto}"></td>
				<td th:text="${c.indirizzoSedeLegale.stampaIndirizzo()}"></td>
				<td th:text="${c.indirizzoSedeOperativa.stampaIndirizzo()}"></td>
				<td ><a th:href="@{/web/mostraFormAggiornaCliente/{id}(id=${c.id})}">Aggiorna</a></td>
				<td><a th:href="@{/web/eliminaCliente/{id}(id=${c.id})}" onclick="return confirm('Sei sicuro di volerlo eliminare?')">Elimina</a></td>
			</tr>
		</div>
		</tbody>
		</table>
		<a href="/web/mostraFormAggiungiCliente">Aggiungi cliente</a><br>
		<br>
		<a href="/web/homepage">Homepage</a>
		
	<footer>
		<p>Powered by Anaclerio Riccardo &copy; 2022</p>
	</footer>
</body>
</html>